/*********************************************************
*				Background Colors
**********************************************************/

/* creates gradient fade from the nav bar down */
.topHalf {
	margin-top: 5%;
	padding-top: 3%;			/* compensate for static nav bar, prevent overlap */
  	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #FFB380),
	color-stop(1, #FF8B33)
	);
	background-image: -o-linear-gradient(top, #ffe4d0 0%, #FF8B33 100%);
	background-image: -moz-linear-gradient(top, #ffe4d0 0%, #FF8B33 100%);
	background-image: -webkit-linear-gradient(top, #ffe4d0 0%, #FF8B33 100%);
	background-image: -ms-linear-gradient(top, #ffe4d0 0%, #FF8B33 100%);
	background-image: linear-gradient(to top, #ffe4d0 0%, #FF8B33 100%);
}

/* fades to this color, for behind main body columns */
html, body { 
	height: 100%; 
	width: 100%; 
	background-color: #ffe4d0;
	margin: 0;	/* close that gap between div and window margin*/
}


/*******************************************************
*			Anchors to account for fixed nav bar
********************************************************/

.anchor {
	 display:block;
   height:90px; /* this is the height of your header */
   margin-top:-90px; /* this is again negative value of the height of your header */
   visibility:hidden;
}

/*****************************************************************
*					Images
******************************************************************/

img {
	border: 3px solid #804C00;
}


/* main body */
.leftMain img {
	float: left;
	margin-right: 1%;
}


/* right column pics */
.rightMain p img, .rightMainSecond p img {
	margin-left: 20%;
	border-radius: 100%;
}


/* light orange bar that fades, adds whitespace */
hr {
	color: #FF8B33;
	height: 10px;
	border: 0;
	/*box-shadow: 0 10px 15px -10px inset;*/
	width: 90%;
}


/**********************************************************
*					Navigation Bar
* Button type resued for the "Apply/Join" Button on About
* us page
**********************************************************/

.nav ul, #join ul {

	/* basics */
	float: right;
  	text-align: center;
  	padding: 0;
  	margin-top: 0;
  	margin-bottom: 0;
  	margin-right: 5%;
  	max-width: 100%;

}


.nav li, #join li {
	/* basic set up of blocks */
	display: inline-block;
	list-style: none;
	padding-top: 2%;

	/* specifics for elements inside */
	font-family: 'oswald', sans-serif;
	text-align: center;
}

.nav a, #join a {

	/* shape the boxes */
  	display: inline-block;
    text-align: center;
   	height: 50px;
    width: 140px;
    line-height: 50px;
    color: #804C00;
    border-radius: 5px;		/* rounded button */
    
	/* decorate and border */       
    text-decoration: none;
    text-shadow: 0 1px 0 #6e3000;
     
    border-right: 1px solid #d05b00;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid #ffe4d0;

    /* fill */
    background-image: -moz-linear-gradient(top, #ffe4d0, #ff8c33);
    background-image: -ms-linear-gradient(top, #ffe4d0, #ff8c33);
    background-image: -webkit-linear-gradient(top, #ffe4d0, #ff8c33);
    background-image: linear-gradient(top, #ffe4d0, #ff8c33);
           
    -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #d05b00;
    -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #d05b00;
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #d05b00;
}

 /* user action */
.nav a:hover {
	color: #fff;
	border-top: 1px solid #FF8B33;
	background-image: -moz-linear-gradient(top, #a94a00, #e46300);
    background-image: -ms-linear-gradient(top, #a94a00, #e46300);
    background-image: -webkit-linear-gradient(top, #a94a00, #e46300);
    background-image: linear-gradient(top, #a94a00, #e46300);
}

/* buttons with longer text need extra padding */
#longer {
	padding-left: 3px;
	padding-right: 3px;
}

/* take the  nav bar, and keep it in a fixed location despite scrolling */
.nav {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	max-height: 25%;
	min-width: 25%;
  	background-color: #FF8B33;
}


/**********************************************************
*					Mobile Nav
**********************************************************/

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #FF8B33;
	text-align: center;
	padding: 10px 0;
	display: none;
	border-bottom: 1px solid #ffe4d0;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
		margin-right: 0 !important;
	}
	/*Create vertical spacing*/
	li {
		border-top: 1px solid #ffe4d0;
	}
	li:last-child {
		border-bottom: 1px solid #F5C8A6;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
		background-color: #FF8B33;
	}

	li a {
		background-color: #FF8B33;
		text-align: center;
	    text-decoration: underline;
	    text-shadow: 1px 1px 0px #283744;

    	border-radius: 0;
        padding: none !important;
        background-image: none !important;
        -webkit-box-shadow: none !important;
    	-moz-box-shadow: none !important;
   		box-shadow: none !important;
   		border-radius: 0 !important;
   		border: 0 !important;


	}

	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}

	.header {
		margin-top: 5%;
	}

	.leftMain {
		width: 80% !important;
		margin-right: 10%;
	}

	/*.rightMain, .rightMainSecond {
		width: 10% !important;
	}*/
}


/********************************************************
*				Main body 
********************************************************/
.leftMain {

	/* basics */
	float: left;
	width: 60%;

	/* space from other objects */
	margin-left: 5%;
	margin-top: 1%;
	margin-right: 1%;
	margin-bottom: 10%;

	/* pad it out */
	padding: 30px 20px 20px 20px;

	/* decoration */
	background-color: white;
	border: 3px solid #FF7F00;
	border-radius: 5px;
}

.rightMain {

	/* basics */
	display: inline-block;
	width: 20%;
	color: white;

	/* give it some space */
	margin-left: 10px;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;

	/* pad it out */
	padding: 30px 20px 20px 20px;

	/* decoration */
	background-color: #D68330;
	border: 1px solid #D68330;
	border-radius: 5px;
}

.rightMainSecond {

	/* basics */
	display: inline-block;
	width: 20%;
	color: white;

	/* give it some space */
	margin-left: 10px;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 5%;

	/* pad it out */
	padding: 30px 20px 20px 20px;

	/* decoration */
	background-color: #FF8B33;
	border: 1px solid #FF8B33;
	border-radius: 5px;
}


/******************************************************
*			Panel
*******************************************************/
.panel{
	padding-top: 5px;
	background-color: #FF8B33;
	border: solid 1px #FF8B33;
}

.flip {
	padding: 5px;
	text-align: center;
	background-color: #FF8B33;
	border: solid 1px #FF8B33;
}

.panel {
	padding: 20px;
	display: none;
}

/* lower right */
.panel2{
	padding: 5px;
	background-color: #D68330;
	border: solid 1px #D68330;
}

.flip2 {
	padding: 5px;
	text-align: center;
	background-color: #D68330;
	border: solid 1px #D68330;
}

.panel2 {
	padding: 20px;
	display: none;
}



/*******************************************************
*			Text Types
********************************************************/
/* Header, Oregon State */
h1{
	float: left;
	margin-left: 5%;
	color: #804C00;
	font-family: 'Titillium Web', sans-serif;
}

/* Headings in the columns */
h2{
	color: #804C00;
	font-family: 'Titillium Web', sans-serif;
	text-decoration: underline;
}

/* Dark column gets a whte heading */
.rightMain > h2{
	color: white;
	font-family: 'Titillium Web', sans-serif;
	text-decoration: underline;
}


h3, h4{
	color: #804C00;
}

<<<<<<< HEAD
=======



/*******************************************************
*			Contact page message box
********************************************************/

#mainform > h1 {
	text-align: center;
	margin-top: 0;
	margin-left: 0;
	width: 100%;
}

#send-message {
	font-size: 100%;
	color: #804C00;
	font-family: 'oswald', sans-serif;
	display: inline-block;
	width: 54%;
	left: 23%;
	right: 23%;
	margin-right: 1.5em;
	margin-left: 30%;	/* centered it, now that "fixed" position is removed */
	height: auto;
	padding: 1em;
	margin-top: 2em;
}

#send-message > div > form > input, #send-message > form > input, #send-message > div > form > textarea {
	margin: 5px;
	display: inline-block;
    width: 40%;
}

#send-message > div > form > label {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

#msg-button {

	/* basics */
	text-align: center;
  	padding: 0;
  	margin-top: 0;
  	margin-bottom: 0;
  	margin-right: 5%;

	/* specifics for elements inside */
	font-family: 'oswald', sans-serif;

	/* shape the boxes */
    height: 50px;
    width: 140px;
    line-height: 50px;
    color: #804C00;
    border-radius: 5px;		/* rounded button */
    
	/* decorate and border */       
    text-decoration: none;
    text-shadow: 0 1px 0 #6e3000;
     
    border-right: 1px solid #d05b00;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid #ffe4d0;

    /* fill */
    background-image: -moz-linear-gradient(top, #ffe4d0, #ff8c33);
    background-image: -ms-linear-gradient(top, #ffe4d0, #ff8c33);
    background-image: -webkit-linear-gradient(top, #ffe4d0, #ff8c33);
    background-image: linear-gradient(top, #ffe4d0, #ff8c33);
           
    -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #d05b00;
    -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #d05b00;
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #d05b00;

}

#msg-button:hover {
	color: #fff;
	border-top: 1px solid #FF8B33;
	background-image: -moz-linear-gradient(top, #a94a00, #e46300);
    background-image: -ms-linear-gradient(top, #a94a00, #e46300);
    background-image: -webkit-linear-gradient(top, #a94a00, #e46300);
    background-image: linear-gradient(top, #a94a00, #e46300);
}
>>>>>>> 22281b52ed730fe73b1b196e8c24b487054487c6
